# Review sobre o live action de One Piece

Recentemente lançou o live action de um dos maiores animes da história, com 9.3 milhões de visualizações e 145.7 milhões de horas transmitidas na Netflix. Esse banco de dados mostra as avaliações mediante ao Internet Movie Database (IMDb), postado dia 10 de Outubro de 2023.

Esse review contém Título(Title), Análise(Review), Data(Date) e Avaliação com nota(Rating).

In [3]:
import pandas as pd 
import numpy as np
from googletrans import Translator #Para conseguirmos no futuro conseguir traduzir as colunas.

In [4]:
df = pd.read_csv('reviews_OP.csv')
df.head(3)

,Title,Review,Date,Rating
0,Never seen the anime and still enjoyed it,I have to admit that I've never watched any of...,4 September 2023,8.0
1,Not My Kind of Show. But This I Loved.,I'm a 60yo man & old school like the The Marin...,4 September 2023,9.0
2,I'm Shocked By How Good This Is...,Every live action anime that I've briefly seen...,1 September 2023,9.0

In [5]:
df.info([]) #falta 8 rating.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   878 non-null    object
 1   Review  878 non-null    object
 2   Date    878 non-null    object
 3   Rating  870 non-null    float64
dtypes: float64(1), object(3)
memory usage: 27.6+ KB

In [6]:
df.columns

Index(['Title', 'Review', 'Date', 'Rating'], dtype='object')

In [7]:
coluna_com_null = df[df.isnull().any(axis=1)]
coluna_com_null #(8,4)

,Title,Review,Date,Rating
143,"I didn't expect much, but I absolutely love it.","I admit, when I write reviews it's usually whe...",25 September 2023,NaN
145,"Thank you for heading this, Oda!","Fun fact: Eiichiro Oda, the creator of the man...",12 September 2023,NaN
447,DIFFERENT MEDIA MEANS DIFFERENT STORYTELLING A...,Just because there are many scenes in the mang...,1 September 2023,NaN
500,I'm not sure about rating yet!,I like the characters so far except Sanji's ha...,4 September 2023,NaN
520,Great adaptation!,One Piece somehow managed to pull it off: a le...,8 September 2023,NaN
540,My disappointment is immeasurable,As a life long fan of One Piece I don't know w...,31 August 2023,NaN
569,A must watch,If you browse there are series with more actio...,2 September 2023,NaN
782,Emily Rudd's hair as Nami,Everything went so right with casting and thei...,1 September 2023,NaN

In [8]:
df_remover = df.dropna(subset=['Rating'])
df_remover.shape

(870, 4)

In [9]:
df_nova = df.insert(1, 'linha nova', 3, allow_duplicates=False)

In [10]:
df

,Title,linha nova,Review,Date,Rating
0,Never seen the anime and still enjoyed it,3,I have to admit that I've never watched any of...,4 September 2023,8.0
1,Not My Kind of Show. But This I Loved.,3,I'm a 60yo man & old school like the The Marin...,4 September 2023,9.0
2,I'm Shocked By How Good This Is...,3,Every live action anime that I've briefly seen...,1 September 2023,9.0
3,See Netflix?? You CAN do it...,3,This is bar none one of the best live-action a...,4 September 2023,10.0
4,WE WANT SEASON 2,3,"Being a one piece fan myself, I was a bit inse...",31 August 2023,10.0
...,...,...,...,...,...
873,Most faithful and high quality adaptation sinc...,3,I haven't written a review in a very long time...,2 September 2023,10.0
874,Me and my son loving it! The best entertaining...,3,This is my first IMDb review.\n\nI've watched ...,1 September 2023,9.0
875,A very good adaptation to the famous anime,3,"An absolute gem! This show is a must-watch, an...",3 September 2023,10.0
876,This wonderful thing...,3,I recently dived (no pun intended) into the wo...,2 September 2023,10.0
877,Best adaptation so far,3,I watched first eposide and I can say they did...,1 September 2023,9.0

In [ ]:
#Apagar linha nova, nova, Adicional
                                                #esse axis serve para indicar onde/oq vamos excluir
                                                # =0 é a linha, =1 é a coluna. 
df= df.drop(['linha nova', 'nova', 'Adicional'], axis=1)

In [ ]:
df.head(1) #Verificar se realmente apagou.

,Title,Review,Date,Rating
0,Never seen the anime and still enjoyed it,I have to admit that I've never watched any of...,4 September 2023,8.0